{
    "Freshteapot\\Api\\Controllers\\Error": [
        {
            "controller": {
                "className": "\\Freshteapot\\Api\\Controllers\\Error", 
                "method": "get", 
                "path": "Freshteapot/Api/Controllers/Error.php"
            }, 
            "http": {
                "method": "get", 
                "uri": "/error"
            }
        }
    ]
}